*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#parent{
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  padding: 30px;
}
.card {
    width: 250px;
    height: 450px;
    padding: 20px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}
.card h2 {
    margin: 10px 0;
    font-size: 22px;
    color: black;
}
.card p {
    font-size: 14px;
    color: #555;
}
.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #4A90E2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #357ABD;
}
