*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(52, 51, 51);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
#cards button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: solid 2px rgb(237, 233, 231);
    background-color: rgb(36, 34, 34);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
#cards button:hover{
    background-color: rgb(87, 2, 2);
    color: rgb(133, 3, 3);
    font-size: 26px;
    border: 5px solid rgb(133, 3, 3);
}
