*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

#parent {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;

   grid-template-areas: "left-top top-center top-right"
                        "left-top center bottom-right"
                        "left-bottom left-bottom bottom-right";
     
    
    gap: 10px;
    padding: 10px;
    
}


     #left-top{
      background-color: red;  
      grid-area: left-top;
      border-radius: 10px;
      
     }
    #left-bottom{
            background-color: yellow;  
            grid-area: left-bottom;
             border-radius: 10px;
             
    }

    #bottom-right{
            background-color: blue;  
            grid-area: bottom-right;
             border-radius: 10px;
    }

    #center{
            background-color: green;  
            grid-area: center;
             border-radius: 10px;
        }

    #top-center{
            background-color: orange; 
            grid-area: top-center; 
             border-radius: 10px;
        }

    #top-right{
            background-color: purple;  
            grid-area: top-right;
             border-radius: 10px;
    }

#parent > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.image img:hover {
    transform: scale(1.1);
    z-index: 2;
}

