*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

#firstSection{
    width: 100%;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-size: cover;
    background-position: center;
}

#nav{
    width: 100%;
    height: 60px;
    background-color: rgba(32, 31, 31, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

#nav a{
    display: flex;
    align-items: end;
    color:#f0f0f0;
    text-decoration: none;
}

#centerText{
    margin: 10px;
    font-size: 46px;
    font-weight: 600px;
    color: white;
    text-align: center;
    padding: 0 20px;
    gap: 20px;
}

#link button{
    margin: 10px;
    background-color: royalblue;
    color: white;
    padding: 15px 24px;
    font-size: 18px;
   border-radius: 50px;
}
#link button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

#SecondSection{
    margin: 10px;
    width: 100%;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
    background-size: cover;
    background-position: center;
}
#ScenterText{
    font-size: 30px;
    font-weight: 600px;
    color: black;
    text-align: center;
    gap: 20px;
}


#ThirdSection{
    margin: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


#FSection{
    width: 50%;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_medium.jpg);
    background-size: cover;
    background-position: center;
}
#FcenterText{
    margin: 60px;
    font-size: 30px;
    font-weight: 600px;
    color: black;
    text-align: center;
    padding: 0 20px;
    gap: 20px;
}

#SSection{
    width: 50%;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-size: cover;
    background-position: center;
}
#ScenterText{
    margin: 60px;
    font-size: 30px;
    font-weight: 600px;
    color: black;
    text-align: center;
    padding: 0 20px;
    gap: 20px;
}

